@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #faebd7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-geist-sans);
}

::selection {
  color: var(--color-background);
  background-color: var(--color-foreground);
}
